body {margin:0; padding: 0;background: url(../img/stade.jpg);background-repeat:no-repeat;background-size:cover;background-position:center;height:100vh; }

form {border-radius:20px;display: block;box-shadow:0 0 10px white;margin:120px auto; width:400px;background: red;padding:30px;background:url(../img/bgback.jpg);background-size: cover;background-position: center;}
