body {
	margin:0;
	padding:0;
	background:url(../img/stade.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:auto;
}

.create {
	display: block;
	margin:180px auto;
	padding:55px;
	background:black;
	color:white;
	width:350px;
	border-radius:30px;
	background:url(../img/formulaire.jpg);
	opacity:0.5;
	background-size:cover;
}

h1 {
	text-align:center;
	font-family:Verdana;
	text-transform: uppercase;
	margin-top:100px;
	color:white;
	font-weight: bold;
	animation:slide 2s linear;
	position: relative;
	left:0%;
}

@keyframes slide {
	from {
		left:-100%;
	}

	to {
		left:0%;
	}
}

label {
	text-transform: uppercase;
	font-family: Verdana;
	font-weight:bold;
}

p {
		margin-top:30px;
		text-align: center;
}

input {
	padding:10px 20px;
	margin-top:45px;
	position: relative;
	left:20px;
}

.bloc {
	margin-top:65px;
}

select {
	margin-left:35px;
}
